# Jun 4, 2008
#
#
#  This is a simple config file for the peak locator/analysis program
#
#  Keywords are case sensitive
#
#


# #######################################################################
InfileBasename			TestInput/YZTest_
FileNumStart				0
FileNumEnd     			3
InfileSerialLength  5

InfileExtension			mic               # file extension for the input file
InFileType				  tif


OutfileBasename			Ti/Before_
OutfileExtension    d1
OutfileSerialLength    5    #  the number of digit that the serial number can have

# #######################################################################
#
# Beam Information
#
# #######################################################################



BeamEnergyWidth   0.05                  # 0.02 * E, specified by page 18, Hennessy 

        # in x y z, in the lab coordinate
BeamDirection              1 0 0
BeamDeflectionChiLaue      0            # Deviation of the xray beam in the plane of the beam (in radians)
BeamHeight                 0.0012       # Height of the beam
BeamEnergy				         50.02099     # Beam energy in KeV


  

# #######################################################################
#
# Detector Information
#
# #######################################################################
DetectorFilename  ConfigFiles/DetectorFile.txt




# #######################################################################
#
# Sample Position
#
#  NOTE:  This is not yet implemented!!!
# #######################################################################

SampleLocation    0 0 0
SampleOrientation   0 0 0 # (Changed to y-z configuration )

SampleFilename			 /home/sfli/SuterResearch/StrainDataCornell/DxToMic/BeforeStrain10.mic
#/home/sfli/SuterResearch/IceNine/DataFiles/ModifiedOneGrain.mic
# SampleFilename    /home/sfli/SuterResearch/StrainDataCornell/SimulatedData/After/AfterStrain.mic
# SampleFilename      /home/sfli/SuterResearch/CurrentWork/EBSDValidation/EBSD_long_z3_f4003.mic
# StructureFilename   /home/sfli/SuterResearch/StrainDataCornell/SimulatedData/DataFiles/titanium.dat
StructureFilename   /home/sfli/SuterResearch/IceNine/DataFiles/gold.dat
RotationRangeFilename  /home/sfli/SuterResearch/IceNine/DataFiles/smallOmega.dat
# RotationRangeFilename  /home/sfli/SuterResearch/IceNine/DataFiles/omega_z5.dat

FundamentalZoneFilename  /home/sfli/SuterResearch/IceNine/DataFiles/FZ_hex.dat

# #######################################################################
#
#
# Simulation information
#
#
# #######################################################################
MinAmplitudeFraction 0.25
MaxQ 12.0



# #######################################################################
# END OF FILE
