##
#
#  StrainOptimization file
#  -  This is used to define how strain optimization is done.  Not
#     all options are currently available.
# 

StrainSearchType      Local                 # [Global | Local | Mix]
MaxStrainStep         100                   #
StrainStepSize        0.001 0      0        #
                      0     0.001  0        #
                      0     0      0.001    #

ConvergenceMethod     Quality 1.0           # [ Quality fQ | HitRatio fH | Differential fTol ]
OptimizationMethod    MonteCarlo            # [ MonteCarlo | ConjugateGradient ]
StrainType            Diag                  # [Diag | Sym | Asym]

# end of file